<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanou.mapper.UserMapper">

    <resultMap id="UserMap" type="User">
        <id column="id" property="id" />
        <result column="name" property="name"/>
        <result column="password" property="password"/>
        <result column="level" property="level"/>
        <result column="des" property="des"/>
        <result column="tel" property="tel"/>
        <result column="address" property="address"/>
        <collection property="blogList"
                    column="id" select="com.lanou.mapper.BlogMapper.findBlogByUserId"/>
   </resultMap>
    <!--可以封装一段比较固定的sql语句 方便后续的debug-->
    <sql id="User_sql">
        id,name,password,level,des,tel
    </sql>

    <select id="findUserByName" resultMap="UserMap">
        SELECT <include refid="User_sql"/> from b_user WHERE name = #{name}
    </select>

    <insert id="insertUser">
        INSERT INTO b_user VALUES (NULL,#{name}, #{password}, #{level}, #{des},#{tel},#{address})
    </insert>
</mapper>